body{
   background-color:hsl(226, 43%, 10%) ; 
}
.container{
    margin-left: 8% ;
    margin-right:8%;
    margin-top: 8%;
    padding: 10%;
    padding-top: 0px;
    margin-bottom: 0px;
    flex-wrap:wrap;
}
.cardMd{
    background-color: hsl(235, 46%, 20%) ;
    margin-left: 20%;
    margin-right: 10px;
    display:inline-block;
    float: left;
    border-radius: 20px;
    padding-bottom:10px;

}
#cardMdBottom{
    border: 5px solid hsl(246, 80%, 60%) ;
    border-radius: 20px;
    background-color: hsl(246, 80%, 60%);
    color: white;
    margin-top:0px ;  
    font-family: 'Rubik', sans-serif;
    display: block;
    padding: 30px;
}
.cardMdBottomText{
    color:hsl(235, 45%, 61%);
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-align: center;
    
}
.cardMdBottomText2{
    color: white;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-align: center;
}
.cardMdBottomText:hover{
    color: white;
}
.ellipse:hover{
    background-color: white;
}
#jeremy{
    width: 80px;
    height: 80px;
    border-radius:50% ;
    border-radius: 10%;
    display: block;
    margin-top:0px;
    margin-bottom:-0px;
}
.card1{
    border: 0px solid  hsl(235, 46%, 20%) ;
    background-color: hsl(235, 46%, 20%) ;
    color: white;
    border-radius: 10%;
    width: 100%;
    height: 100%;
    margin-top:20% ;
    margin-bottom: 0px;
    padding: 1px;
    padding-bottom: 10px;
    padding-top: 6px;
    font-family: 'Rubik', sans-serif;
}
.card1:hover{
    background-color: hsl(235, 45%, 61%);
}
.cardText{
    color:hsl(235, 45%, 61%) ;
    font-family: 'Rubik', sans-serif;
    Font-size: 12px ;
    padding-right:50px;
    padding-left: 0px;
}
.cardTextTop{
    font-size: 15px;
}
#cardTopImg{
    position: absolute;
    margin-left:80px ;
}
#cardTop1{ 
    display:inline-block;
    background-color: hsl(15, 100%, 70%);
    margin: 10px;
    flex:auto;
    border-radius: 10%;
    background-image:  url(images/icon-work.svg) ; 
    background-repeat: no-repeat;
    background-position:top right;
}
#cardTop2{ 
    display:inline-block;
    background-color: hsl(195, 74%, 62%);
    margin: 10px;
    flex:auto;
    border-radius: 10%;
    background-image:  url(images/icon-play.svg) ; 
    background-repeat: no-repeat;
    background-position:top right;
}
#cardTop3{ 
    display:inline-block;
    background-color:hsl(348, 100%, 68%);
    margin: 10px;
    flex:auto;
    border-radius: 10%;
    background-image:  url(images/icon-study.svg) ; 
    background-repeat: no-repeat;
    background-position:top right;
}
#cardTop4{ 
    display:inline-block;
    background-color: hsl(145, 58%, 55%);
    margin: 10px;
    flex:auto;
    border-radius: 10%;
    background-image:  url(images/icon-exercise.svg) ; 
    background-repeat: no-repeat;
    background-position:top right;
}
#cardTop5{ 
    display:inline-block;
    background-color:  hsl(264, 64%, 52%);
    margin: 10px;
    flex:auto;
    border-radius: 10%;
    background-image:  url(images/icon-social.svg) ; 
    background-repeat: no-repeat;
    background-position:top right;
    
}
#cardTop6{ 
    display:inline-block;
    background-color: hsl(43, 84%, 65%);
    margin: 10px;
    flex:auto;
    border-radius: 10%;
    background-image:  url(images/icon-self-care.svg) ; 
    background-repeat: no-repeat;
    background-position:top right;
}
ul{
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
